<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShortSingle</key>
	<array>
		<string>This is an &amp;amp;</string>
		<string>This is an &amp;</string>
	</array>
	<key>LongSingle</key>
	<array>
		<string>Lorem ipsum dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt &amp;amp; mollit anim id est laborum. Nam liber te conscient to factor tum poen legum odioque civiuda.</string>
		<string>Lorem ipsum dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt &amp; mollit anim id est laborum. Nam liber te conscient to factor tum poen legum odioque civiuda.</string>
	</array>
	<key>ShortDouble</key>
	<array>
		<string>Replacement 1: &amp;amp; - Replacement 2: &amp;hearts; </string>
		<string>Replacement 1: &amp; - Replacement 2: ♥ </string>
	</array>
	<key>LongDouble</key>
	<array>
		<string>Lorem ipsum &amp;amp; dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nam liber te conscient to factor tum poen &amp;hearts; legum odioque civiuda.</string>
		<string>Lorem ipsum &amp; dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nam liber te conscient to factor tum poen ♥ legum odioque civiuda.</string>
	</array>
	<key>NoReplacement</key>
	<array>
		<string>Lorem ipsum dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nam liber te conscient to factor tum poen legum odioque civiuda.</string>
		<string>Lorem ipsum dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nam liber te conscient to factor tum poen legum odioque civiuda.</string>
	</array>
	<key>MultiReplacement</key>
	<array>
		<string>Lorem &amp;hearts; &amp;clubs; &amp;spades; &amp;diams; ipsum dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt &amp;ugrave; &amp;shy; &amp;THORN; mollit anim id est laborum. Nam liber te conscient to factor tum poen &amp;copy; &amp;cent; legum odioque civiuda.</string>
		<string>Lorem ♥ ♣ ♠ ♦ ipsum dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt ù ­ Þ mollit anim id est laborum. Nam liber te conscient to factor tum poen © ¢ legum odioque civiuda.</string>
	</array>
	<key>HexNumber</key>
	<array>
		<string>I live in the US and I can&amp;#x27;t get home internet</string>
		<string>I live in the US and I can&apos;t get home internet</string>
	</array>
	<key>MultiByte</key>
	<array>
		<string>伊藤忠商事株式会社</string>
		<string>伊藤忠商事株式会社</string>
	</array>
	<key>MultiByteReplacement</key>
	<array>
		<string>伊藤忠商事株式会社&amp;amp;Test</string>
		<string>伊藤忠商事株式会社&amp;Test</string>
	</array>
</dict>
</plist>
